<div class="small-12 medium-8 columns">
  <div class="row">
    <div class="text-center"><h2><%= @tasting.name%>: Choose Your Wines<h2></div>
    </div>
  </div>
</br>
  <% @wines.each do |wine| %>
  <div class="row">
  <div class="small-12 small-centered columns">
    <table class="hover">
      <thead>
        <tr>
          <th width="300">Wine</th>
          <th width="150">Appellation/Region</th>
          <th width="300">Grape/s</th>
          <th width="100">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr class="items">
          <td><%= wine.name%> </td>
          <td><%=wine.appellation%></td>
          <td><%=wine.varietal%> </td>
          <td><%=wine.year%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</br>
  <% end %>
<div class="small-12 small-centered columns">
  <div class="comment-section-box">
    <div class="row" style="text-align: center;">
      <div id='comments'></div>
    </div>
  </div>
</div>
</br>
<div class="wrapper" style="text-align:center;">
  <button class="button" id="button1"><%= link_to "Add Wines", new_tasting_wine_path(@tasting) %></button>
  <button class="button" id="button2"><%= link_to "View Food Pairings", tasting_pairings_path(@tasting) %></button>
</div>
