<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wine Tasting at Home" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <div class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Wine Tasting at Home</li>
        </ul>
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
         <li><a><%= link_to 'Home', root_path %></li>
         <li><a><%= link_to 'About', about_path %></li>
         <% if current_user && current_user.admin == true %>
         <li><%= link_to 'All Users', admin_users_path %></li>
         <% end %></a>
         <li><a><%= link_to "Add a Tasting", new_tasting_path %></a></li>
       </ul>
     </nav>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
           <li class="profile"><%= link_to 'Profile', user_path(current_user) %></li>
           <li class="profile"><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
           </li>
           <% else %>
           <li class="profile"><%= link_to 'Sign In', new_user_session_path %></li>
           <li class="profile"><%= link_to 'Sign Up', new_user_registration_path %></li>
           <% end %>
           <% if flash[:notice] %>
           <div class="notice"><%= flash[:notice] %></div>
           <% elsif flash[:alert] %>
           <div class="alert"><%= flash[:alert] %></div>
           <% end %>
          </ul>
        </div>
      </div>

    <div class="top-bar-right">
      <ul class="menu">
        <table class="wine-searcher">
          <tr>
            <form class="search" name="searchform" method="GET" action="http://www.wine-searcher.com/wine-select.lml" target=_blank></td></form>
            <input type="hidden" name="Xfromsearch" value="Y">
            <td><input id="Xwinename" type="TEXT" name="Xwinename" value="" title="Search phrase" placeholder="Find Wines on Wine-Searcher.com" style="width:275px;"></td>
            <td><input id="Xvintage" type="TEXT" size="4" maxlength="4" name="Xvintage" value="" title="Vintage (use 'NV' for non-vintage). Leave blank to search all vintages."  placeholder="Vintage"style="width:76px;font-size:16px;"></td>
            <td><input type="submit" value="Search" style="cursor:pointer;width:80px;height:35px;color:#fff;background:#cc0000;float:left;border:1px solid #000000;border-radius:2px; font-family:'Abril Fatface', cursive;" name="searchbutton" onclick="return button_click();" >
          </tr>
        </table>
    </div>




  <%= yield %>
  </head>
<body>

  <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>



  </body>
</html>
